<section class="row login u-fullHeight--strict">
    <div class="columns small-9 small-centered u-verticalAlign--center">
        <%= sprite_tag('logo-icon', classes: 'login-logoIcon') %>
        <%= sprite_tag('logo', classes: 'login-logo') %>
        <div class="login-form">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <div class="login-form-fields">
                    <%= f.hidden_field :reset_password_token %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: t('.placeholders.password') %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('.placeholders.password_confirmation') %>
                </div>
                <%= f.submit "Change password", class: 'btn--transparent' %>
                <%= render "devise/shared/links" %>
            <% end %>
        </div>
    </div>
</section>
